# EXERCICI 1

L'analista ha d'assegurar-se que els registres consisteixen en una gamma completa de missatges i s'interpreten segons el context. Els elements de registre han de normalitzar-se, utilitzant els mateixos termes o terminologia, per evitar confusions i proporcionar cohesió.

Com Científic de Dades se t'ha proporcionat accés als registres-Logs on queda registrada l'activitat de totes les visites realitzades a la pàgina web de l'agència de viatges "akumenius.com".

- Exercici 1

Normalitza, identifica i enumera cada un dels atributs / variables de l'estructura de l'arxiu "Web_access_log-akumenius.com" que trobaràs al repositori de GitHub "Data-sources".

In [1]:
filename = './data/Web_access_log-akumenius.txt'

In [2]:
import pandas as pd
import re

In [3]:
log =pd.read_csv(filename, sep='- -',header=None,skiprows=22,names=['web','text'],engine='python')
# evito las 22 primeras filas que son diferente al resto

In [4]:
log.shape

(261851, 2)

In [5]:
log.head(10)

,web,text
0,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:31 +0100] ""GET /hoteles-ba..."
1,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:33 +0100] ""GET /hoteles-ba..."
2,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:35 +0100] ""GET /hoteles-ba..."
3,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:38 +0100] ""GET /hoteles-ba..."
4,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:39 +0100] ""GET /destinos-b..."
5,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:40 +0100] ""GET /hoteles-ba..."
6,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:42 +0100] ""GET /hoteles-ba..."
7,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:45 +0100] ""GET /hoteles-ba..."
8,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:46 +0100] ""GET /destinos-b..."
9,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:47 +0100] ""GET /hoteles-ba..."

In [6]:
log.isnull().sum()

web      0
text    27
dtype: int64

In [10]:
log.dropna(axis=0,inplace=True) # remove columns with null values

In [12]:
log.head()

,web,text
0,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:31 +0100] ""GET /hoteles-ba..."
1,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:33 +0100] ""GET /hoteles-ba..."
2,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:35 +0100] ""GET /hoteles-ba..."
3,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:38 +0100] ""GET /hoteles-ba..."
4,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:39 +0100] ""GET /destinos-b..."

In [13]:
log[['address','ip']] = log.web.str.split(' ',expand=True).get([0,1])

In [15]:
log.drop('web',axis=1,inplace=True)

In [16]:
log.head()

,text,address,ip
0,"[23/Feb/2014:03:10:31 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
1,"[23/Feb/2014:03:10:33 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
2,"[23/Feb/2014:03:10:35 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
3,"[23/Feb/2014:03:10:38 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
4,"[23/Feb/2014:03:10:39 +0100] ""GET /destinos-b...",www.akumenius.com,66.249.76.216

In [17]:
log.address.unique()

array(['www.akumenius.com', 'localhost', 'akumenius.com', 'akumenius.es',
       'test.akumenius.com'], dtype=object)

In [19]:
log[log.address == 'localhost']

,text,address,ip
2756,"[23/Feb/2014:04:13:07 +0100] ""OPTIONS * HTTP/...",localhost,127.0.0.1
2805,"[23/Feb/2014:04:15:02 +0100] ""OPTIONS * HTTP/...",localhost,127.0.0.1
3398,"[23/Feb/2014:04:43:03 +0100] ""OPTIONS * HTTP/...",localhost,127.0.0.1
3665,"[23/Feb/2014:04:53:04 +0100] ""OPTIONS * HTTP/...",localhost,127.0.0.1
4465,"[23/Feb/2014:05:22:56 +0100] ""OPTIONS * HTTP/...",localhost,127.0.0.1
...,...,...,...
261775,"[02/Mar/2014:02:34:43 +0100] ""POST /cgi-bin/p...",localhost,217.174.248.179
261776,"[02/Mar/2014:02:34:43 +0100] ""POST /?%2D%64+%...",localhost,217.174.248.179
261848,"[02/Mar/2014:03:10:18 +0100] ""OPTIONS * HTTP/...",localhost,127.0.0.1
261849,"[02/Mar/2014:03:10:18 +0100] ""OPTIONS * HTTP/...",localhost,127.0.0.1
261850,"[02/Mar/2014:03:10:18 +0100] ""OPTIONS * HTTP/...",localhost,127.0.0.1

In [20]:
log = log[log.address!='localhost'] # remove of 'localhost'

In [21]:
log.head()

,text,address,ip
0,"[23/Feb/2014:03:10:31 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
1,"[23/Feb/2014:03:10:33 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
2,"[23/Feb/2014:03:10:35 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
3,"[23/Feb/2014:03:10:38 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
4,"[23/Feb/2014:03:10:39 +0100] ""GET /destinos-b...",www.akumenius.com,66.249.76.216

In [22]:
log['date']= log.text.str.extract('(\d+/\w+/\d+)')

In [23]:
log['time'] = log.text.str.extract(':(\d{2}:\d{2}:\d{2}.*)]')

In [24]:
log.head()

,text,address,ip,date,time
0,"[23/Feb/2014:03:10:31 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:31 +0100
1,"[23/Feb/2014:03:10:33 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:33 +0100
2,"[23/Feb/2014:03:10:35 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:35 +0100
3,"[23/Feb/2014:03:10:38 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:38 +0100
4,"[23/Feb/2014:03:10:39 +0100] ""GET /destinos-b...",www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:39 +0100

In [25]:
log[['peticion','codigo']] = log.text.str.split('"',n=5,expand=True).get([1,2])

In [27]:
log.drop(['text'],axis=1,inplace=True)

In [28]:
log.head()

,address,ip,date,time,peticion,codigo
0,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:31 +0100,GET /hoteles-baratos/ofertas-hotel-Club-&-Hote...,404 3100
1,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:33 +0100,GET /hoteles-baratos/ofertas-hotel-Metropolis-...,404 3100
2,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:35 +0100,GET /hoteles-baratos/ofertas-hotel-Faena-Hotel...,404 3100
3,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:38 +0100,GET /hoteles-baratos/ofertas-hotel-Kensington-...,404 3100
4,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:39 +0100,GET /destinos-baratos/destinosEstrelles/hotele...,200 8811

In [29]:
log.shape

(247719, 6)

## exercisi 3

In [30]:
import json
from ip2geotools.databases.noncommercial import DbIpCity

In [32]:
def extract_info_from_ip(ip):
    try:
        response = DbIpCity.get(ip, api_key='free').to_json()    
        data = json.loads(response)
        return data['city']
    except:
        return np.nan

    
ip = '66.249.76.216'
extract_info_from_ip(ip)

'Mountain View'

In [ ]:
def extract_region_from_ip(ip):
    response = DbIpCity.get(ip, api_key='free')
    return response.region
    
    
ip = '66.249.76.216'
extract_region_from_ip(ip)

In [ ]:
log.head()