# EXERCICI 1

L'analista ha d'assegurar-se que els registres consisteixen en una gamma completa de missatges i s'interpreten segons el context. Els elements de registre han de normalitzar-se, utilitzant els mateixos termes o terminologia, per evitar confusions i proporcionar cohesió.

Com Científic de Dades se t'ha proporcionat accés als registres-Logs on queda registrada l'activitat de totes les visites realitzades a la pàgina web de l'agència de viatges "akumenius.com".

- Exercici 1

Normalitza, identifica i enumera cada un dels atributs / variables de l'estructura de l'arxiu "Web_access_log-akumenius.com" que trobaràs al repositori de GitHub "Data-sources".

In [2]:
filename = './data/Web_access_log-akumenius.txt'

In [3]:
import pandas as pd
import re

In [4]:
log =pd.read_csv(filename, sep='- -',header=None,skiprows=22,names=['web','text'])
# evito las 22 primeras filas que son diferente al resto

<ipython-input-4-6787433bf2b9>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  log =pd.read_csv(filename, sep='- -',header=None,skiprows=22,names=['web','text'])

In [5]:
log.shape

(261851, 2)

In [6]:
log.head(10)

,web,text
0,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:31 +0100] ""GET /hoteles-ba..."
1,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:33 +0100] ""GET /hoteles-ba..."
2,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:35 +0100] ""GET /hoteles-ba..."
3,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:38 +0100] ""GET /hoteles-ba..."
4,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:39 +0100] ""GET /destinos-b..."
5,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:40 +0100] ""GET /hoteles-ba..."
6,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:42 +0100] ""GET /hoteles-ba..."
7,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:45 +0100] ""GET /hoteles-ba..."
8,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:46 +0100] ""GET /destinos-b..."
9,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:47 +0100] ""GET /hoteles-ba..."

In [7]:
log[['address','ip']] =log.web.str.split(' ',n=1,expand=True)

In [8]:
log.head()

,web,text,address,ip
0,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:31 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
1,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:33 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
2,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:35 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
3,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:38 +0100] ""GET /hoteles-ba...",www.akumenius.com,66.249.76.216
4,www.akumenius.com 66.249.76.216,"[23/Feb/2014:03:10:39 +0100] ""GET /destinos-b...",www.akumenius.com,66.249.76.216

In [9]:
log['date']= log.text.str.extract('(\d+/\w+/\d+)')

In [10]:
log['time'] = log.text.str.extract(':(\d{2}:\d{2}:\d{2}.*)]')

In [11]:
log[['peticion','codigo']] = log.text.str.split('"',n=5,expand=True).get([1,2])

In [13]:
log.drop(['web','text'],axis=1,inplace=True)

In [14]:
log.head()

,address,ip,date,time,peticion,codigo
0,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:31 +0100,GET /hoteles-baratos/ofertas-hotel-Club-&-Hote...,404 3100
1,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:33 +0100,GET /hoteles-baratos/ofertas-hotel-Metropolis-...,404 3100
2,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:35 +0100,GET /hoteles-baratos/ofertas-hotel-Faena-Hotel...,404 3100
3,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:38 +0100,GET /hoteles-baratos/ofertas-hotel-Kensington-...,404 3100
4,www.akumenius.com,66.249.76.216,23/Feb/2014,03:10:39 +0100,GET /destinos-baratos/destinosEstrelles/hotele...,200 8811

In [17]:
from requests import urlopen
url = 'http://ipinfo.io/json'
response = urlopen(url)
data = json.load(response)
print(data)
IP=data['ip']
org=data['org']
city = data['city']
country=data['country']
region=data['region']

ImportError: cannot import name 'urlopen' from 'requests' (/usr/lib/python3/dist-packages/requests/__init__.py)

In [ ]:
log.head()

In [ ]:
url = 'https://blog.ip2location.com/knowledge-base/how-to-add-a-sub-account-in-ip2location/'